<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.typekit.net/pyx1jcb.css">
</head>

<body>
    <div id="container">
        <td><a href="/shows">Go Back</a></td>
        <h1>Add a New Show</h1>
        <div>
            {% if messages %}
            <ul class="messages">
                {{messages.all}}
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        <form action="/shows/add_new" method="POST">
            {% csrf_token %}
            <div>
                <p>Title</p>
                <input type="text" id="title" name="title">
                <p>Network</p>
                <input type="text" id="network" name="network">
            </div>
            <div>
                <p>Release Date</p>
                <input type="date" id="release_date" name="release_date">
                <p>Description</p>
                <input type="text" id="desc" name="desc">
                <button type="submit">Create</button>
            </div>
        </form>
    </div>
</body>

</html>